<div class="hero h-auto">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Backend Astro</h1>
      <p class="py-6 textarea-info">
      Course backend Hono, Bun, Tailwindcss, Biome, Astro...
      </p>
      <p class="text-ml">Estimated Launch:2026</p>
      <p class="text-ml">{new Date()}</p>

    </div>
  </div>
</div>
